body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-links li a.active {
    border-bottom: 2px solid red;
}

/* Hero Section */
.hero {
    height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 35%;
    transform: translateY(-35%);
    color: white;
}

.hero-content h1 {
    font-size: 45px;
    margin: 15px 0;
}

.hero-content .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-content .welcome {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    border-radius: 20px;
}

.btn {
    background: white;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* Form Page */
.container {
    padding: 40px;
}

.container h2 {
    margin-bottom: 20px;
}

.form-box {
    width: 70%;
}

.form-box label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-submit {
    margin-top: 20px;
    background: blue;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
}

/* Result Page */
.result-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.result-box {
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.result-image img {
    width: 450px;
    border-radius: 8px;
}
.hero {
    height: 90vh;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
